h1, h2 {
  background-color: #CCCCCC;
}

table {
  width: 100%;
  max-width: 640px;
}

table.news {
  max-width: 900px;
}

table.serp {
  max-width: 1400px;
}

img.chart {
  width: 100%;
  max-width: 640px;
}

textarea.intable {
  width: 95%;
  line-height: 1.2em;
  font-size: 1.2em;
}

table, td, th {
  border-style: solid;
  border-width: 1px;
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  background-color: #cccccc;
  white-space: nowrap;
}
