@import jp.thotta.ifinance.model.CompanyNews
@import jp.thotta.ifinance.model.CompanyProfile
@(title: String, news: CompanyNews, profile: CompanyProfile, form: Form[RemindNews.Reminder], remindList: List[NewsReminder], user: User)

@main(title) {
<h1>@title</h1>
<h2>
  <a href="/stock/@profile.stockId">
    @profile.companyName (@profile.stockId)
  </a>
</h2>
<h3>ニュース詳細</h3>
<table class="news">
  <tbody>
    <tr>
      <th> タイトル </th>
      <td>
        <a href="@news.url" target="_blank"> @news.title </a>
      </td>
    </tr>
    <tr>
      <th> 発表日 </th>
      <td> @news.announcementDate </td>
    </tr>
    <tr>
      <th> 作成日 </th>
      <td> @news.createdDate </td>
    </tr>
  </tbody>
</table>

@if(remindList.size() > 0) {
@RemindNewsList(remindList, false, user)
}

<h3>リマインド登録</h3>
@helper.form(routes.RemindNews.edit(-1)) {
<p>
イベント発生日: </br>
<input type="date" name="remindDate" value="">
<input type="hidden" name="newsId" value="@news.id">
</p>
リマインドメッセージ: </br>
<textarea class="intable" name="message" rows="8" cols="40"></textarea>
</br>
<button type="submit">登録</button>
}

}
